
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: hotpink;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: hotpink;
    margin: 100px 300px 50px 300px;
    padding: 20px;
}